MyWeb/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57195/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57195/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57195/Service.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:57195/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Get_User_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_User" />
  </wsdl:message>
  <wsdl:message name="IService_Get_User_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_UserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Get_Users_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Users" />
  </wsdl:message>
  <wsdl:message name="IService_Get_Users_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_UsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Insert_User_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_User" />
  </wsdl:message>
  <wsdl:message name="IService_Insert_User_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_UserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Delete_User_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_User" />
  </wsdl:message>
  <wsdl:message name="IService_Delete_User_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_UserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Update_User_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_User" />
  </wsdl:message>
  <wsdl:message name="IService_Update_User_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_UserResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Get_User">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Get_User" message="tns:IService_Get_User_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Get_UserResponse" message="tns:IService_Get_User_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Users">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Get_Users" message="tns:IService_Get_Users_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Get_UsersResponse" message="tns:IService_Get_Users_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert_User">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Insert_User" message="tns:IService_Insert_User_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Insert_UserResponse" message="tns:IService_Insert_User_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_User">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Delete_User" message="tns:IService_Delete_User_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Delete_UserResponse" message="tns:IService_Delete_User_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_User">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Update_User" message="tns:IService_Update_User_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Update_UserResponse" message="tns:IService_Update_User_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_User">
      <soap:operation soapAction="http://tempuri.org/IService/Get_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Users">
      <soap:operation soapAction="http://tempuri.org/IService/Get_Users" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_User">
      <soap:operation soapAction="http://tempuri.org/IService/Insert_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_User">
      <soap:operation soapAction="http://tempuri.org/IService/Delete_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_User">
      <soap:operation soapAction="http://tempuri.org/IService/Update_User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:57195/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>